<div class="text-center container-sm mt-5 border border-primary border-2 rounded-3 bg-dark">

  <article class="text-light">
    <h2 class="mt-2">To Do List</h2>
    <p class="pt-3 ">From the user point of view, here you can do stuff like Logging in to create a To Do List with it's tasks, edit the To Do List and it's tasks, delete it all, and log out.</p>
    <p class="pt-1 ">At the same time, you can also login as the admin and delete users and it's items. But if you want to create a list with it's tasks, you must login.</p>
    <p><%= button_to "Log in", user_session_path, class: "btn btn-primary", method: :get %></p>


  </article>



</div>