

  <div class=" position-absolute bottom-0 bg-dark start-50 translate-middle-x w-100 text-center border-top border-primary border-3">
  <footer>
    <p class="text-light pt-2">&copy; Made by Gabriel Pedro</p>
  </footer>
  </div>


