<%= render 'dolists/navbar' %>







<h2 class="text-center text-light mt-4">Tasks</h2>



<%= render 'tasks/task' %>



<div class="sticky-bottom"><%= render 'tasks/form' %></div>

<div class="fixed-bottom pt-5"><%= render 'dolists/footer' %></div>






