<div class=" container-sm mt-5 border border-primary border-2 rounded-3 bg-dark text-center ">

<% @list.tasks.each do |task| %>

    <p class="text-light mt-3">Task Activity: <%= task.activity %></p>
  <p class="text-light mt-2">
    Task status: <%= task.status %>
  </p>

  <p class="text-light">
    Delete: <%= link_to "Delete", [task.dolist,task], data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
   | Edit: <%= link_to "Edit", edit_dolist_task_path(@list,task) %>
  </p>
    <p class="text-light">-------------------------------------------------------------------------------------------------------------------</p>
  <br>

<% end %>
</div>